body {
    font-family: Arial;
    margin: 0;
    padding: 0;
  }
  
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
  
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
 }
  
 .product-card {
    min-width: 300px;
    height: 450px;
    margin-bottom: 20px;
    text-align: center;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}

.product-card img {
    max-width: 150px; 
    max-height: 150px;
    margin: 0 auto; 
}

.card {
    border: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    height: 100%; 
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
button:hover {
    background-color: #45a049;
 }

.top-nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.center-heading {
    flex: 1; 
    text-align: center; 
}

.center-heading h1 {
    margin: 0;
}

.right-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.right-links ul li {
    display: inline;
    margin-left: 20px;
}

.right-links ul li:first-child {
    margin-left: 0;
}

.right-links ul li a {
    color: #fff;
    text-decoration: none;
}

.right-links ul li a:hover {
    color: #ccc;
}

